/*MOBILE FIRST*/

main p {
	width: auto;
	max-width: 350px;
	font-family: 'Inter', sans-serif;
	font-size: 1.3rem;
	font-weight: 700;
	color: white;
}
main h1 {
	width: auto;
	max-width: 250px;
	font-family: 'Inter', sans-serif;
	font-size: 2rem;
	font-weight: 900;
	color: #dd2daa;
}

#max-container-2 {
	display: flex;
	width: 100%;
	justify-content: right;
}

#max-container-3 {
	display: flex;
	width: 100%;
	justify-content: center;
}


.section-container {
	width: fit-content;
	margin-top: 5rem;
}



.section-grid {
	display: inline-grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
}

#valores-grid {
	height: 600px;
	max-height: 600px;
	align-items: end;
}

.section-grid figure img {
	display: block;
	width: auto;
	max-width: 350px;
}
.section-grid figure {
	width: fit-content;
	grid-row: 1;
	grid-column: 1;
}


#origem-text, #reconhecimento-text {
	display: grid;
	grid-row: 1;
	grid-column: 1;
	
	grid-template-rows: auto 1fr;
	grid-template-columns: 1fr;
}

#valores-text {
	display: grid;
	height: 600px;
	max-height: 600px;
	grid-row: 1;
	grid-column: 1;
	position: relative;
	grid-template-rows: 200px 400px;
	grid-template-columns: 1fr;
}

.text-container h1 {
	filter: drop-shadow(0px 2px 1px rgba(0,0,0,0.2));
	grid-row: 1;
	grid-column: 1;
}
.text-container p {
	grid-row: 2;
	grid-column: 1;
}


#origem-text h1 {
	max-width: 200px;
	align-self: start;
	padding-left: 0.5rem;

}
#origem-text p {
	margin: 0;
	padding-left: 1rem;
	max-width: 290px;
}
	
	
	
#reconhecimento-text h1 {
	align-self: center;
	justify-self: center;
}
#reconhecimento-text p {
	text-align: center;
	max-width: 290px;
	justify-self: center;
}



#valores-text h1 {
	justify-self: center;
	align-self: end;
	width: auto;
	max-width: 150px;
}


#valores-text p {
	max-width: 200px;
	text-align: center;
	justify-self: center;
	padding-top: 4rem;
	align-self: start;
}	


@media (min-width: 1200px) {
	main p {
		width: auto;
		max-width: 350px;
		font-family: 'Inter', sans-serif;
		font-size: 1.8rem;
		font-weight: 700;
		color: white;
	}
	main h1 {
		width: auto;
		max-width: 250px;
		font-family: 'Inter', sans-serif;
		font-size: 3rem;
		font-weight: 900;
		color: #dd2daa;
	}

	#max-container-2 {
		display: flex;
		width: 100%;
		justify-content: right;
	}

	#max-container-3 {
		display: flex;
		width: 100%;
		justify-content: center;
	}


	.section-container {
		width: fit-content;
		margin: 0;
	}
	
	#origem-container {
		margin-top: 5rem;
	}
	#valores-container {
		margin-bottom: 5rem; 
	}

	.section-grid {
		display: inline-grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;
	}

	#valores-grid {
		height: 900px;
		max-height: 900px;
		align-items: end;
	}

	.section-grid figure img {
		display: block;
		width: auto;
		max-width: 500px;
	}
	.section-grid figure {
		width: fit-content;
		grid-row: 1;
		grid-column: 1;
	}


	#origem-text, #reconhecimento-text {
		display: grid;
		grid-row: 1;
		grid-column: 1;
		
		grid-template-rows: auto 1fr;
		grid-template-columns: 1fr;
	}

	#valores-text {
		display: grid;
		height: 900px;
		max-height: 900px;
		grid-row: 1;
		grid-column: 1;
		grid-template-rows: 300px 600px;
		grid-template-columns: 1fr;
	}

	.text-container h1 {
		filter: drop-shadow(0px 2px 1px rgba(0,0,0,0.2));
		grid-row: 1;
		grid-column: 1;
	}
	.text-container p {
		grid-row: 2;
		grid-column: 1;
	}


	#origem-text h1 {
		max-width: 200px;
		align-self: start;
		padding-left: 0.5rem;

	}
	#origem-text p {
		margin: 0;
		padding-left: 1rem;
		max-width: 290px;
	}
		
		
		
	#reconhecimento-text h1 {
		align-self: center;
		max-width: 300px;
		justify-self: center;
	}
	#reconhecimento-text p {
		text-align: center;
		max-width: 350px;
		justify-self: center;
	}

	#valores-text h1 {
		justify-self: center;
		align-self: end;
		width: auto;
		max-width: 100%;
	}


	#valores-text p {
		max-width: 400px;
		text-align: center;
		justify-self: center;
		padding-top: 3rem;
		align-self: center;
	}	
}
