/*MOBILE FIRST*/

hr {
	margin: 100px;
}

footer {
	margin-top: 30vw;			  /*verde    rosa   */
	background-color: #464653; /*#1AC8B9; #DD2DAA;*/
}


footer div a {
	color: white;
	text-decoration: none;
}

#menu-img {
	width: 25px;
	margin: 50%;
	transition: transform 0.5s;
}

#menu-img:hover {
	transform: scale(1.1);
}

body {
	font-size: 16px;
	background-color: white;
	font-family: 'Inter', sans-serif;
	margin: 0;
	padding: 0;
}

.offcanvas-header {
	background-color: white;
}
.offcanvas-body{
	background-color: white;
}

.header-menu {
	position: relative;
	
	height: 100px;
	width: 100%;
	
}

.figure-header {
	margin: 0;
}

.nav-menu {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0;
	top: 0;
}

.list-nav {
	display: none;
	width: 100%;
	margin: 0;
	padding: 0;
	justify-content: space-around;

}

.list-offcanvas {
	list-style: none;
}

.offcanvas-option {
	padding: 10px;
}

.offcanvas-option a{ 
	font-weight: 900;
	text-decoration: none;
	color: #DD2DAA;
}
footer {
	margin: 0;
	padding-top: 25px;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 400px;
}

.footer-bottom-div {
	display: flex;
	flex-direction: column;
	margin: 10px;
}

.footer-bottom-div a {
	text-decoration: underline;
	padding: 5px;
	color: white;
}

.footer-bottom-div p {
	padding: 5px;
	color: white;
}
	
.footer-top-div {
	display: flex;
	flex-direction: column;
	margin: 10px;
	padding: 0;
}

.footer-top-div a {
	padding: 5px;
	font-weight: 900;
	font-size: 1rem;
}

@media (min-width: 1200px){
/*
 * estrutura para o cabeçalho da página em telas com, ou mais, de 1200px de largura
 * só manter isso daqui nas outras páginas
 * 
 * IMPORTANTE: coloquem esse arquivo css nas outras páginas, mas
 * não acrescentem nada nele, a fim de não gerar conflitos com as
 * outras páginas; criem outros arquivos css para as outras páginas
 * ao invés disso.
 * */
	body {
		font-size: 16px;
		margin-left: 10%;
		margin-right: 10%;
		padding: 0;
	}

	.btn {
		margin: 1%;
	}

	.header-menu {
		position: relative;
		background-color: white;
		filter: drop-shadow(0px 1px 2px rgb(213, 213, 213));
		height: 100px;
		width: 100%;
		border-radius: 50px;
		
	}
	
	.figure-header {
		margin: 0;
	}

	

	.offcanvas-header {
		background-color: white;
	}
	.offcanvas-body{
		background-color: white;
	}
	
	.nav-menu {
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
		position: absolute;
		margin: 0;
		top: 0;
	}
	
	.list-nav {
		display: flex;
		width: 100%;
		margin: 0;
		padding: 0;
		justify-content: space-around;

	}
	
	.nav-option {
		list-style: none;
		font-size: 1rem;
		transition: transform 0.5s;
	}

	.nav-option:hover {
		transform: scale(1.05);
	}

	.nav-option a {
		font-family: 'Inter', sans-serif;
		font-weight: 900;
		text-decoration: none;
		color: #DD2DAA;  /* #DD2DAA  #00A2FF  */
	}

	.list-offcanvas {
		list-style: none;
	}

	.offcanvas-option {
		padding: 10px;
	}

	.offcanvas-option a{ 
		font-weight: 900;
		text-decoration: none;
		color: #DD2DAA;
	}
	
	footer {
		margin: 0;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 400px;
	}
	
	#footer-top-container {
		margin-top: 2.5vw;
		display: flex;
		flex-direction: row;
		width: 100%;
	}
	
	
	#footer-bottom-container {
		margin-top: 2.5vw;
		display: flex;
		justify-content: flex-start;
		flex-direction: row;
		width: 100%;
	}
	.footer-top-div {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		width: 100%;
		
	}

	.footer-top-div a {
		margin: 10px;
		text-decoration: none;
		color: white;
		font-weight: 900;
		font-size: 1rem;
	}
	.footer-bottom-div {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		width: 100%;
	}
	
	.footer-bottom-div p {
		margin-top: 20px;
		color: white;
	}
	.footer-bottom-div a {
		text-decoration: underline;
		color: white;
	}
}
