/*MOBILE FIRST*/

/* estilizando classes e tags, de forma geral */





/* DESIGIN PARA APARELHOS COM, NO MINIMO, 1200px DE LARGURA*/
@media (min-width: 1200px) {

	.spot-img-class {
		width: 100%;
		max-width: 500px;
	}

	main h1 {
		font-size: 3rem;
		font-weight: 900;
		color: #dd2daa;
		filter: drop-shadow(0px 2px 1px rgba(0,0,0,0.3));
	}

	main p {
		font-weight: 700;
		color: white;
		font-size: 1.5rem;
	}

	main {
		display: grid;
		grid-template-rows: 1fr 1fr 1fr;
	}

	.info-section {
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;
	}

	.section-container {
		display: grid;
		grid-row: 1;
		grid-column: 1;
		grid-template-rows: 10% 1fr;
		grid-template-columns:1fr;
		margin: 0;
		max-width: 1200px;
		position: relative;
	}

	.section-container h1 {
		grid-row: 1;
		grid-column: 1;
	}

	.section-container figure{
		width: 100%;
		grid-row: 2;
		grid-column: 1
	}

	.section-container p {
		grid-row: 2;
		grid-column: 1;		
	}


	/* estilizando tags com id */

	#max-container-1 {
		display: flex;
		width: 100%;
		justify-content: left;
	}
	
	#max-container-2 {
		display: flex;
		width: 100%;
		justify-content: right;
	}
	
	#max-container-3 {
		display: flex;
		width: 100%;
		justify-content: center;
	}

	#origem-container p {
		padding-left: 2rem;
		max-width: 300px;
		padding-top:8rem;
		
	}
	#origem-container h1 {
		width: 20%;
		padding-left: 2rem;
		padding-top: 5rem;
	}
	

	#reconhecimento-container figure{		
		display: grid;
	}
	
	#reconhecimento-container figure img {
		justify-self: end;
	}

	#reconhecimento-container p {
		text-align: center;
		width: 50%;
		max-width: 600px;
		margin-top: 5rem;
		padding-right: 2rem;
		align-self: start;
		justify-self: end;
	}
	#reconhecimento-container h1 {
		width: 50%;
		padding-top: 2rem;
		text-align: center;
		justify-self: end;
		
	}
	
	#valores-section {
		margin-bottom: 20rem;
	}
	
	#valores-container figure{
		display: grid;
	}
	
	#valores-container figure img {
		justify-self: center;
	}

	#valores-container p {
		width: 30%;
		text-align: center;
		justify-self: center;
		align-self: center;
		
		padding-bottom: 5rem;
	}
	#valores-container h1 {
		align-self: start;
		justify-self: center;
		text-align: center;
	}
}
